.messages {
    height: 100%;
    padding: 20px;
    padding-bottom: 0;
    overflow: auto;
    border: 1px solid #ececec;
    &--loading {
        display: flex;
        align-items: center;
        justify-content: center;
    }
}
