.plus-icon {
    cursor: pointer;
}

.add-dialog-form {
  .ant-form-item {
    margin-bottom: 0;
    &-label {
      line-height: inherit !important;
    }
  }
}

.header__left-part{
  display: flex;
}

.users-icon{
  margin-right: 6px;
}